.details-section {
    border: 1px solid #ddd; /* Màu và kích thước của viền */
    padding: 15px; /* Khoảng cách giữa nội dung và viền */
    border-radius: 5px; /* Đường cong góc của viền */
}
.img-fluid {
    border: 1px solid #ccc; /* Định dạng border */
    padding: 5px; /* Tạo khoảng cách giữa border và ảnh */
}
.img-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}
