*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
/* chung  */
.text-white{
    color: #fff !important;
}
.mt-16{
    margin-top: 16px;
}
.mt-32{
    margin-top: 32px;
}
.custom-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.btn-no-active:active {
    border: none !important;
}


/* header  */
header{
    background-color: #d70018;
}
.top-nav{
    background-color: #e9efff;
    height: 32px;
}
.top-nav .nav-list{
    display: flex;
    justify-content: space-around;
    line-height: 20px;
}
.heade-logo{
    font-family: Roboto,sans-serif!important;
    margin: 8px;
}
header > .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 30px; */
}

 .nav-list{
    display: flex;
    list-style: none;
    margin: 0;
    align-items: center;

}
.nav-item{
    margin: 8px;
   
}
   
.nav-list .btn{
    background-color: hsla(0, 0%, 100%, 0.2);
    border-radius: 15px;
}

.modal-content{
    min-width: 550px;
}
/* CSS Style */
.form-group{
    display: flex;
    margin-top: 10px;

}
.form-group label,
.form-group input {
    min-width: 150px;
}

.category{
    margin:0 8px;
}
.search-form {
    display: flex;
    margin-left: auto;
    height: 60%;
    margin: 8px 0;
    flex: 1;    
}

.search-form input {
    padding: 8px;
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 12px;
    margin-right: 5px;
    flex: 1;
}

.search-form button {
    /* padding: 8px;  */
    min-width:50px;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #000;
}

/* chatbot */
.chat {
    position: fixed; /* Đặt vị trí cố định */
    bottom: 20px; /* Khoảng cách từ phần tử đến phía dưới của màn hình */
    right: 20px; /* Khoảng cách từ phần tử đến phía bên phải của màn hình */
    font-size: 50px;
    }

.chat-icon {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-container {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 300px;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 1000;
}

.chat-container.active {
    display: block;
}

.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 1;
}

.chatbox {
    height: 310px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f8f8f8;
}

.input-group {
    display: none;
    border-top: 1px solid #ccc;
}

.form-control {
    flex: 1;
    border: none;
    /* padding: 10px; */
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.btn-admin {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.message {
    line-height: 1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
    clear: both;
}

.message.sent {
    background-color: #007bff;
    color: white;
    float: right;
    text-align: right;
}

.message.received {
    background-color: #e0e0e0;
    color: black;
    float: left;
    text-align: left;
}
.fa-times {
/* position: absolute; */
right: 10px;
}
  

/* begin footer  */
.footer {
    /* position: fixed;
    bottom: 0;
    width: 100%; */
    background-color: #343a40; /* Màu nền của footer */
    color: #ffffff; /* Màu chữ của footer */
    padding: 20px 0; /* Khoảng cách giữa nội dung và mép của footer */
}
.footer a{
    color: #fff;
}
/* end footer  */